client/node_modules
server/venv
server/processed_images/*
server/images/*
server/test_images/*
server/__pycache__
server/chroma_data
server/what.json
server/chroma_backup
server/backup.py
server/tests.py
server/image_mapping.json
server/id_to_name_mapping.json
server/myenv
server/compare_inferences.py
server/knowledge_graph.py
server/visualizer.py
server/move_images.py


cdk/

client/public/images
client/src/MultiImageUpload.js
client/src/ImageAnalysis.js

.env
