client/node_modules
server/venv
server/.env
server/processed_images/*
server/images/*
server/test_images/*
server/__pycache__
server/chroma_data
server/what.json
server/chroma_backup
server/backup.py
server/tests.py
server/image_mapping.json
server/id_to_name_mapping.json

